.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.p-2 {
  padding: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.w-48 {
  width: 12rem;
}

.justify-between {
  justify-content: space-between;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.border {
  border-width: 1px;
}

.border-dotted {
  border-style: dotted;
}

.border-solid {
  border-style: solid;
}

.bg-gray-50 {
  background-color: rgba(243, 244, 246);
}
